*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background: url("./static/snake.jpg");
    background-size: 100vw  100vh;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.data{
    position: absolute;
    width: 60vmin;
    height: 20vmin;
    top: 2rem;
    right: 6rem;
    font-size: larger;
    transition: all 0.5s linear;
    font-family: 'Dancing Script', cursive;
}
#instruction{
    margin-top: 1rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}
#scoreArea{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-family: 'Permanent Marker', cursive;
}
#hgScore{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-family: 'Permanent Marker', cursive;
}
#board{
    position: absolute;
    left: 15%;
    width: 90vmin;
    height: 90vmin;
    background: linear-gradient(rgb(92, 249, 68),rgb(157, 249, 58));
    margin-right: 2rem;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
    transition: all 0.2s linear;
}
.head{
    background: linear-gradient(-45deg , rgb(4, 137, 254), rgb(3, 255, 247));
    border-radius: 8px;
    transform: scale(1.1);
    border: 2px solid black;
}
.snake{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}
.food{
    background-color: rgb(241, 23, 11);
    border-radius: 50px;
    border: 1px solid red;
}

@media(max-width : 1250px){
    #board{
        top: 2rem;
        left: 2%;
    }
    .data{
       margin-top: 0;
       right: 0;
       width: 63vmin;
       height: 10vmin;
   }
}
@media(max-width : 1020px){
     .data{
         margin-top: 0;
        left: 4%;
        width: 63vmin;
        height: 10vmin;
        font-size: small;
    }
    #scoreArea{
        font-size: small;
    }
    #hgScore{
        font-size: small;
    }
    #board{
        top: 10rem;
        width: 90vmin;
        height: 70vmin;
    }
}
@media(max-width : 850px){
    #board{
        width: 80vmin;
    }
}
@media(max-width : 750px){
    #board{
        width: 70vmin;
    }
}